body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.accent-studio {
  color: #2e2f42;
}

.link-nav {
  font-weight: 500;
  text-decoration: none;
  color: #2e2f42;
}

.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.link-contacts {
  color: #434455;
  text-decoration: none;
}

.link-contacts:hover,
.link-contacts:focus {
  color: #404bbf;
}

.section-title {
  background-color: #2e2f42;
}

.title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: #4d5ae5;
  color: #ffffff;
  letter-spacing: 0.04em;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.section-team {
  background-color: #f4f4fd;
}

.team-dsc {
  background-color: #ffffff;
}

.heading {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.footer {
  background-color: #2e2f42;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;

  color: #4d5ae5;
}

.footer .text {
  color: #f4f4fd;
}

.accent-studio-footer {
  color: #f4f4fd;
}
